
body {
    margin: 0;
    font-family: Inter, sans-serif;
}
header {
    
    background-size: cover;
    background-position: center;
    height: 100vh;
    color: #ffffff;
    position: relative;
}


.overlay-text {
    position: relative; /* Konumlandırma */
    display: block; /* Block düzende olacak şekilde düzenle */
    background-color:#457779cb; 
    color: #ffffff; 
    box-shadow: #294647 0px 0px 10px; 
    padding: 10px; 
    border-radius: 20px; 
    margin: 0 auto;
    text-align: center; 
    width: fit-content; 
}




.search-card {
background: #ffffffd0;
/* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); */
border-radius: 8px;
padding: 20px;
width: 100%;
margin: 0 auto;
}


.search-card input, .search-card button {
    margin-bottom: 10px;
}

.search-card input, .search-card button {
    
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    transition: 0.3s ease;
}

.search-card input {
    background-color: transparent;
    border: none; 
    border-bottom: 3px solid #539092; 
    border-radius: 10px;
    box-shadow: none; 
    outline: none; 
    font-size: 1rem;

}
.search-card .form-label {
font-size: 1rem;
font-weight: bold;
}
.search-card button {
background-color: #539092;
color: #ffffff;
border: none;
transition: 0.3s ease;
}
.search-card button:hover {
background-color: #417576;
}

.search-card h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #539092;

}
.search-card label {
    font-size: 1rem;
    font-weight: bold;
    color: #539092;
}

.button-group {
display: flex;
justify-content: center;
gap: 30px;
margin-top: 20px;
}
.button-group .btn {
font-size: 20px;
padding: 10px 15px;
border: none;
border-radius: 5px;
background-color: #539092;
color: #ffffff;
transition: 0.3s ease;


}
.button-group .btn:hover {
background-color: #417576;
}

.button-group .btn:active{
background-color: #2f4d4a;
}


       
.form-label{
font-size: 1.2rem;
font-weight: bold;
color: #539092;
}

.tab-content {
    display: none; /* Sekme içeriğini başlangıçta gizle */
}

.tab-content.active {
    display: flex; /* Aktif sekmeyi göster */
}

button.active {
    background-color: #6a0dad; /* Aktif sekmenin rengi */
    color: white;
}
/* Genel Fırsat Uçuşları Stili */
.firsat-baslik {
    font-size: 1.8rem;
    font-weight: bold;
    color: #333;
}

/* Butonlar Stili */
.btn-group .btn {
    margin-left: 10px;
    font-size: 1rem;
}

/* Aktif Buton Rengi */
.btn-group .btn.active {
    background-color: #539092;
    color: #fff;
    border-color: #294647;
}

.btn-group .btn:hover {
    background-color: #417072;
    color: #fff;
    border-color: #294647;
}

/* Kartların Görünümü */
.card {
    border: 1px solid #ddd;
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.3s;
}

.card:hover {
    transform: translateY(-10px);
}

.card img {
    height: 200px;
    object-fit: cover;
}



.ucuslar{
    background-color:#539092be;
    margin-top: -50px;
    padding: 20px;
  
    
}

.ucuslar h2 {
    color: #ffffff;
    font-size: 2.5rem;
    font-weight: bold;
    text-align: center;
    
}



        
        
      