
.otel-rezervasyonlarim {
    background-color: #5390924f;
    padding: 50px 0;
}


.otel_rezervasyonlarim .container {
    margin-top: 50px;
}


.baslik {
    color: #539092; 
    font-size: 2.5rem;
    font-weight: bold;
    text-align: center;
}

.card-title {
    font-size: 1.2rem;
    font-weight: bold;
    color: #555;
}

.card-text {
    font-size: 1rem;
    color: #555;
}

.card {
    margin-bottom: 20px;
    padding: 20px;
    width: 100%;
    min-height: 150px; 
}

.card-body .row > div {
    display: flex;
    flex-direction: column;
}

.card-body .row .d-flex {
    justify-content: flex-end; 
    align-items: center; 
    height: 100%; 
}

.card-body .row .col-md-3 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    min-height: 120px; 
}

.detail {
    background-color: #539092; 
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.detail:hover {
    background-color: #539092; 
    color: rgb(255, 255, 255);
}

